body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
    background-color: #fff;
}

h1 {
    display: grid;
    grid-area: 1 / 1 /1/4; 
    text-align: center;
}

.choices {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    gap: 10px;
}

.choice {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    
    background-color: #ff5100;
    color: #fff;
    
}

.choice:hover {
    background-color: #b35a00;
}

.result {
    grid-area: 3 / 1 / 4 / 4; 
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.score {
    grid-area: 3 / 1 / 4 / 4; 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
}